body {
  margin: 0;
}

.templateHello {
  width: 80vw;
  height: 80vh;
  display: flex;
  padding: 10vh 10vw;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-image: url("../images/tonton-revolver.webp");
  background-position: center center;
  background-size: cover;

  @media(min-width: 575px) {
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__textFrame {
    width: fit-content;
    padding: 1% 2%;
    border: 5px solid black;
    background-color: rgba(255, 255, 255, 0.5);
    font-family: $ft_ubuntu;
    text-align: center;

    h2 {
      font-weight: 400;
    }

    p {
      font-weight: 300;
    }
  }
}